body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 70, 117);
}

svg {
    background-color: none;
    color: white;
}

.title{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: none; */
    fill: white;
    font-size: 21px;
    text-decoration: underline;
    /* margin: 15; */
}

.bar{
    fill: #f3f6f8;
    fill-opacity: 0.8;
}

.bar:hover{
    fill: rgba(84, 154, 235, 0.329);
    fill-opacity: 0.3;
}

/* .tooltip{
    position: absolute;
    left: 28vw;;
    top: 10vh;
    z-index: -1;
    background-color: yellowgreen;
    color: white;
    width: 18vw;
    height: 10vh;
    padding: 1vw;
} */

.tooltip{
    color: white;
    font-family: fantasy;
}






