body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 70, 117);
}

svg {
    background-color: rgb(46, 236, 46);
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: none;
    color: white;
    margin: 15;
}

.bar{
    fill: #173955;
    fill-opacity: 0.8;
}
